version: '3.9'

services:
  app:
    build:
      context: ./php
    container_name: php-app
    ports:
      - '8080:80' # akses web di http://localhost:8080
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: app_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
    ports:
      - '3307:3306' # kalau mau diakses dari luar Docker (opsional)
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    ports:
      - '8081:80' # akses phpMyAdmin di http://localhost:8081
    depends_on:
      - db

volumes:
  db_data:
